.home-container {
  padding: 17px 10px;
  color: #ffffff;
}

.home-banner {
  display: none;
}

@media (min-width: 576px) {
  .home-container {
    padding: 40px 50px;
  }

  .login-container {
    margin-bottom: 130px;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 40px 145px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 100px 40px 70px;
    height: calc(100vh - 77px);
  }

  .home-banner {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 460px;
    margin-right: 100px;
    margin-top: 40px;
  }

  .home-banner h1 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 27px;
  }

  .home-banner p {
    font-size: 22px;
    width: 360px;
    margin-bottom: 50px;
    padding-left: 27px;
  }

  .login-container {
    margin-bottom: 0;
  }
}
