
.home-review-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 10px;
}

.home-review-container h1 {
    font-size: 24px;
    letter-spacing: -0.015;
}

.comment-form-card {
    margin: 18px 0px;
}

.review-list-container {
    padding: 17px 10px 14px 10px;
}

@Media (min-width: 1200px) {
    .home-review-container {
        padding: 40px;
    }

    .home-review-container h1 {
        font-size: 48px;
    }

    .comment-form-card {
        margin: 29px 0px;
    }

    .review-list-container {
        padding: 10px 20px 13px 17px;
    }
}