.home-review-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
}

.home-review-container h1 {
  font-size: 24px;
  letter-spacing: -0.015;
}

.comment-form-card {
  margin-top: 25px;
}

.review-container {
  margin-top: 25px;
}

.review-list-container {
  padding: 17px 10px;
}

.movie-card-review-page {
  padding: 0;
}

.movie-card-review-page .movie-card {
  padding: 20px;
  border-radius: 10px;
  margin: 0;
}

.movie-card-review-page .card-info-container {
  padding: 0;
  margin-bottom: 16px;
}

.movie-card-review-page .card-info-container p {
  margin: 0;
}

.movie-card-review-page .card-synopsis-container {
  display: flex;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 13px 9px;
}
.movie-card-review-page p {
  text-align: justify;
  letter-spacing: -1.5%;
  color: #9e9e9e;
}

@media (min-width: 1200px) {
  .home-review-container {
    padding: 40px;
  }

  .home-review-container h1 {
    font-size: 48px;
  }

  .comment-form-card {
    margin: 29px 0px;
  }

  .review-list-container {
    padding: 10px 20px 13px 17px;
  }
}
