
.home-container {
    padding: 15px;
    font-size: 24px;
}

.home-container h1 {
    margin-bottom: 28px;
    font-size: 1em;
}

.home-container a {
    text-decoration: none;
    color: unset;
}

.list-container li {
    padding: 12px 0;
    font-size: 0.75em;
}

@Media (min-width: 1200px) {
    .home-container {
        padding: 40px;
        font-size: 48px;
    }

    .movie-page-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .home-container h1 {
        margin-bottom: 20px;
        font-size: 1em;
    }
    
    .list-container li {
        padding: 20px 0;
        font-size: 0.5em;
    }

}