.home-container {
  padding: 20px 10px;
  font-size: 24px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
  }

  .movie-card-container {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 40px;
  }
}
