.movie-page-container {
  padding: 20px 10px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.movie-filter-container {
  margin-bottom: 20px;
}

.movie-pagination-container {
  margin: 26px, 21px, 34px, 19px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
  }

  .movie-card-container {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 40px;
  }
}
