.movie-category-filter-container {
  padding: 5px 20px;
  height: 60px;
}

.movie-category-filter-select {
  height: 50px;
  width: 260px;
}

.movie-category-select__control {
  background-color: #6c6c6c !important;
  height: 50px;
}

.movie-category-select__placeholder {
  font-size: 16px;
  letter-spacing: -0.015%;
  color:#ffffff !important;
}

.movie-category-select__indicators {
  color: #9e9e9e !important;
}

.movie-category-select__indicator-separator {
  display: none;
}

.movie-category-select__input-container {
  font-size: 16px;
  letter-spacing: -0.015%;
}

.movie-category-select__menu {
  background-color: #6c6c6c !important;
}

.movie-category-select__single-value {
  color: #ffffff !important;
}

@media (min-width: 1200px) {
  .movie-category-filter-container {
    height: 80px;
    padding: 15px 20px;
  }
}
